<app-place [marginTop]="false">
    <ng-container title i18n>Rest. Recharge. Truly.</ng-container>
    <ng-container description i18n>
        In absolute seclusion - surrounded by the protected natural landscape of Žďárské vrchy - our campsite is
        surrounded by a picturesque forest, creating a perfect, peaceful atmosphere.
        <br>
        <br>
        A beautiful lake just a few steps away invites for creative walks during the breaks in the program.
        <br>
        <br>
        The shower rooms underwent a renovation, providing guests with comfort and convenience during their stay.
    </ng-container>

    <ng-container location i18n>
        The fastest way to get to the retreat site is by car.
        <br><br>
        You can get there by public transportation from Prague as follows:
        <ol>
            <li>Take the train <b>Praha - Pardubice hl.n.</b></li>
            <li>Change to the train <b>Pardubice hl.n. - Hlinsko, nadr.</b></li>
            <li>Take a bus to the nearest village <b>Hlinsko, nadr - Svratouch, střed.</b></li>
            <li>We will then meet you and bring you to the retreat location.</li>
        </ol>
        <br><br>
        Near the beginning of the retreat, we will organize the possibility of getting to the site together with other
        participants who are traveling by car.
    </ng-container>
</app-place>



<h2 class="section-title text-impact" i18n>Meet World-Class Yoga Teachers</h2>


<app-trainer image="assets/images/people/dada-sadananda.png"
             video="assets/videos/retreats/2/invitation-dada.mp4"
             invitationLanguage="RU" [marginBottom]="false">
    <ng-container title i18n>
        Dada Sadananda
    </ng-container>
    <ng-container description i18n>
        Founder of the <em>MeditationSteps.org</em> project, recognized in over <em>30 countries</em>. Yoga teacher,
        author of the popular free basic meditation course.
        <br>
        <br>
        Has been teaching yoga and meditation for <em>23 years</em>, over <em>24 000 hours</em> of meditation
        experience.
    </ng-container>
</app-trainer>

<app-trainer image="assets/images/people/didi-devapriya.png" side="left" [marginTop]="false">
    <ng-container title i18n>Didi Ananda Devapriya</ng-container>
    <ng-container description i18n>
        Yoga and meditation instructor <em>since 2001</em>.
        <br><br>
        Works in Romania coordinating multiple social projects such as an orphanage, a childcare center, a program for
        young people leaving orphanages and an agricultural project.
    </ng-container>
</app-trainer>




<app-feature [marginBottom]="false">
    <ng-container title i18n>Revitalize Your Body and Mind</ng-container>
    <ng-container content>
        <app-card side="left">
            <app-image [animated]="true" background src="assets/images/retreats/meditate.png" alt="asanas" />
        </app-card>
        <app-card i18n [adjust]="true">
            Immerse yourself in our rejuvenating yoga sessions designed to elevate both your physical and mental
            well-being.
            Explore the profound benefits of yoga asanas and mindfulness practices, fostering harmony between your body
            and
            mind.
        </app-card>

        <h3 class="text-huge text-center padded-h" i18n>What is on the schedule</h3>
        <div class="padded-h">
            <app-card side="center" [bordered]="false">
                <app-accordion>
                    <h4 title i18n>Thursday, May 23</h4>
                    <ul content>
                        <li>15:00 - <span i18n>Registration, accommodation</span></li>
                        <li class="bold">18:00 - <span i18n>Retreat opening</span></li>
                        <li class="bold fg-secondary">18:30 - <span i18n>Introduction to meditation practice and
                                inspiration
                                from teachers</span>
                        </li>
                        <li>19:30 - <span i18n>Dinner</span></li>
                        <li class="bold">21:00 - <span i18n>Evening meditation (15+15)</span></li>
                        <li>22:00 - <span i18n>Good night. Maunavrata (practice of silence) until 9:00 AM the next
                                day</span></li>
                    </ul>
                </app-accordion>

                <app-accordion>
                    <h4 title i18n>Friday, May 24</h4>
                    <ul content>
                        <li>06:30 - <span i18n>Wake-up</span></li>
                        <li>07:00 - <span i18n>Asana Class</span></li>
                        <li class="bold">08:20 - <span i18n>Collective Meditation / Commentary from Dada</span></li>
                        <li>09:30 - <span i18n>Breakfast</span></li>
                        <li>11:00 - <span i18n>Outdoor activities (volleyball, badminton etc)</span></li>
                        <li class="bold fg-secondary">12:00 - <span i18n>Interactive master class from Didi Ananda
                                Devapriya: Overcoming ego in
                                relationships with others and oneself.</span></li>
                        <li class="bold">13:00 - <span i18n>Collective Meditation</span></li>
                        <li>14:00 - <span i18n>Lunch</span></li>
                        <li>15:30 - <span i18n>Free time / Silent forest walk</span></li>
                        <li class="bold fg-secondary">16:30 - <span i18n>Lecture by Dada / Q&A</span></li>
                        <li class="bold">18:00 - <span i18n>Collective meditation / Commentary from Didi Ananda
                                Devapriya</span></li>
                        <li>19:00 - <span i18n>Dinner</span></li>
                        <li>20:00 - <span i18n>Free time / Reviewing of personal lessons</span></li>
                        <li class="bold">21:00 - <span i18n>Evening meditation (15+15)</span></li>
                        <li>22:00 - <span i18n>Good night. Maunavrata (practice of silence) until 9:00 AM the next
                                day</span></li>
                    </ul>
                </app-accordion>

                <app-accordion>
                    <h4 title i18n>Saturday, May 25</h4>
                    <ul content>
                        <li>06:30 - <span i18n>Wake-up</span></li>
                        <li>07:00 - <span i18n>Asana Class</span></li>
                        <li class="bold ">08:20 - <span i18n>Collective meditation / Commentary from Didi Ananda
                                Devapriya</span></li>
                        <li>09:30 - <span i18n>Breakfast</span></li>
                        <li class="bold fg-secondary">11:00 - <span i18n>"Achieving the full expression of your soul":
                                presentation of projects in
                                Sweden and Romania</span></li>
                        <li class="bold fg-secondary">11:30 - <span i18n>Lecture from Didi Ananda Devapriya / Questions
                                and answers</span></li>
                        <li class="bold ">13:00 - <span i18n>Collective Meditation</span></li>
                        <li>14:00 - <span i18n>Lunch</span></li>
                        <li>15:30 - <span i18n>Outdoor activities / Creative workshops / Dance</span></li>
                        <li class="bold fg-secondary">16:30 - <span i18n>Spiritual talks with Dada Sadananda</span></li>
                        <li class="bold ">17:30 - <span i18n>Collective Meditation / Commentary from Dada
                                Sadananda</span></li>
                        <li>18:30 - <span i18n>Dinner</span></li>
                        <li class="bold fg-secondary">20:00 - <span i18n>Musical evening by the fire + Chanting circle
                                with Jutika</span></li>
                        <li class="bold ">21:30 - <span i18n>Evening meditation (15+15)</span></li>
                        <li>22:30 - <span i18n>Good night. Maunavrata (practice of silence) until 9:00 AM the next
                                day</span></li>
                    </ul>
                </app-accordion>

                <app-accordion>
                    <h4 title i18n>Sunday, May 26</h4>
                    <ul content>
                        <li>06:30 - <span i18n>Wake-up</span></li>
                        <li>07:00 - <span i18n>Asana Class</span></li>
                        <li class="bold ">08:20 - <span i18n>Collective Meditation</span></li>
                        <li>09:00 - <span i18n>Cleaning in rooms and packaging</span></li>
                        <li>09:30 - <span i18n>Breakfast</span></li>
                        <li class="bold fg-secondary">10:30 - <span i18n>Retreat closing ceremony</span></li>
                        <li>12:30 - <span i18n>Departure</span></li>
                    </ul>
                </app-accordion>
            </app-card>
        </div>
    </ng-container>
</app-feature>


<app-feature [marginBottom]="false">
    <ng-container title i18n>Enjoy rich and delicious nutrition</ng-container>
    <ng-container content>
        <app-card side="left">
            <app-image [animated]="true" [style.height.rem]="30" background src="assets/images/retreats/food.png"
                       alt="food" />
        </app-card>
        <app-card [adjust]="true" i18n>
            Enjoy the pleasures of the foods, which elevate your mental state.
            The food is prepared with love and care, it is rich in nutrients and vitamins.
            <br>
            <br>
            We purchase dairy products from local farmers and also offer lactose-free and gluten-free options.
        </app-card>
    </ng-container>
</app-feature>



<app-feature [marginTop]="false">
    <ng-container title i18n>Forge Lasting Connections</ng-container>
    <ng-container content>
        <app-card side="left">
            <app-image [animated]="true" background src="assets/images/retreats/friends.png" alt="friends" />
        </app-card>
        <app-card [adjust]="true" i18n>
            Discover a welcoming community of like-minded individuals eager to support your journey towards well-being.
            Engage in meaningful conversations, share experiences, and forge genuine connections with fellow
            practitioners
            who embody strength, kindness, and camaraderie.
            <br>
            <br>
            Experience the joy of friendship, camaraderie, and shared
            growth as you become part of our vibrant yoga family, where everyone is embraced with warmth and acceptance.
        </app-card>
    </ng-container>
</app-feature>


<div class="space"></div>