<h3>Frequently Asked Questions</h3>

<app-accordion class="accordion">
    <h4 acc-title>1. What is your refund policy?</h4>
    <p acc-content>We understand that circumstances may change unexpectedly. Our refund policy allows for a full
        refund up to 30 days before the retreat start date. After that period, refunds will be issued on a case-by-case
        basis, taking into consideration individual circumstances.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title>2. Isn't 6000 CZK too expensive?</h4>
    <p acc-content>The fee covers accommodation, meals, expert guidance, and transformative experiences aimed at
        nurturing your spiritual growth over the course of three days. We strive to provide a comprehensive and
        enriching experience that reflects the value of the teachings and practices shared during the retreat.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title>3. What if I am new to these meditation practices?</h4>
    <p acc-content>Our programs are designed to accommodate individuals of all levels, from beginners to advanced
        practitioners. Our experienced instructors will guide you through each practice with clarity and support,
        ensuring a fulfilling and enriching experience for everyone.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title>4. What practices will there be exactly? Where are they coming from?</h4>
    <p acc-content>These practices may include meditation, yoga asanas, mindfulness exercises, devotional singing
        (kiirtan), and philosophical discourses. Each practice is carefully selected to promote holistic well-being and
        spiritual growth.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title>5. Do your practices suit everyone?</h4>
    <p acc-content>Whether you identify as spiritual, atheistic, or adhere to a different tradition, you are welcome
        to participate and explore the teachings offered during the retreat.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title>6. Do I need any prior experience?</h4>
    <p acc-content>Our retreats are open to beginners and experienced practitioners alike. Our instructors will
        provide guidance and support to ensure that everyone can fully engage with the practices and derive maximum
        benefit from the experience.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title>7. What should I take and not take with me? What about clothing?</h4>
    <p acc-content>It's advisable to leave behind any distractions such as electronic devices to fully immerse
        yourself in the retreat experience.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title>8. Can I have a special (vegan/lactose-free) diet?</h4>
    <p acc-content>Please inform us of any special dietary requirements when registering for the retreat, and we
        will do our utmost to accommodate your needs.</p>
</app-accordion>
<hr />

<app-accordion>
    <h4 acc-title>9. I am part of a different spiritual tradition. Is it okay for me to practice this as well? What do
        you
        think of different spiritual traditions?</h4>
    <p acc-content>"We welcome individuals from all spiritual traditions to participate in our retreats. Our
        teachings emphasize universal principles of love, compassion, and self-realization, which are inherent in many
        spiritual paths. We respect and honor the diversity of spiritual traditions and believe that sincere seekers can
        find common ground in their quest for truth and inner peace.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title>10. I am an atheist and don't believe in spiritual stuff. Why would I go to a retreat?</h4>
    <p acc-content>Many participants, regardless of their belief system, find value in the practices of meditation,
        yoga, and mindfulness for their potential to reduce stress, increase mental clarity, and enhance overall
        well-being. Whether you're seeking inner peace, stress relief, or simply a break from the hustle and bustle of
        daily life, our retreats offer a supportive environment for exploration and self-discovery.</p>
</app-accordion>