:host {
    display: block;
    padding-top: 1rem;
    background-color: white;
}

h3 {
    padding: var(--padding);
    text-align: center;
}

h4 {
    padding: 2em var(--padding);
    cursor: pointer;
}

h5 {
    font-size: 1rem;
    padding: var(--padding) 0;
}

.section {
    padding: calc(2 * var(--padding));
    padding-top: 1rem;
}

hr {
    color: white;
    margin: 0 var(--padding);
}

ul {
    list-style-position: outside;
}

li {
    margin-left: 1em;
}

.non-padded {
    padding-top: 0;
}