:host {
    display: block;
    padding-top: 1rem;
    background-color: white;
}

h3 {
    padding: var(--padding);
    text-align: center;
}

h4 {
    padding: 2em var(--padding);
    cursor: pointer;
    font-weight: normal;
}

p {
    padding: var(--padding);
    padding-bottom: 2em;
}

hr {
    color: white;
    margin: 0 var(--padding);
}