<h3 i18n>Frequently Asked Questions</h3>

<app-accordion class="accordion">
    <h4 acc-title i18n>{{1}}. What's included in the price? Isn't 6000 CZK too expensive?</h4>
    <p acc-content class="section" i18n>
        The fee covers accommodation, 3 meals per day, expert guidance, and transformative experiences aimed
        at nurturing your spiritual growth over the course of 4 days. The prices is significantly lower than
        comparable festivals or similar programs and is somewhat comparable to the regular price of a hotel
        stay.
        <br>
        <br>
        As a non-profit organization we aim at making spiritual practices accessible to everyone, regardless of their
        financial situation. If you are experiencing financial hardship, please each out to us to discuss potential
        discounts or payment plans.
    </p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title i18n>{{2}}. What is your refund policy?</h4>
    <p acc-content class="section" i18n>
        During online registration, a <em>prepayment of 2000 CZK (80 EUR)</em> is sufficient to guarantee your place at
        the retreat.
        <br>
        <br>
        The remaining amount must be paid before the beginning of the retreat. You can pay in cash or by bank transfer.
        <br>
        <br>
        When canceled before <em>May 1st, 100% of the deposit</em> is refunded.
        <br>
        <br>
        After <em>May 1st</em>, the deposit is <em>non-refundable</em>.
    </p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title i18n>{{3}}. I am new to these meditation practices? Will I be able to keep up?</h4>
    <p acc-content class="section" i18n>Our programs are designed to accommodate individuals of all levels, from
        beginners to
        advanced
        practitioners. Our experienced instructors will guide you through each practice with clarity and support,
        ensuring a fulfilling and enriching experience for everyone.</p>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title i18n>{{4}}. What should I take with me?</h4>
    <div acc-content class="section" i18n>
        <h5 class="non-padded">What to bring:</h5>
        <ul>
            <li>Yoga mat</li>
            <li>Meditation cushion (if you need one)</li>
            <li>Personal hygiene items, towel</li>
            <li>Comfortable clothes for asanas</li>
            <li>Warm clothes (it can get chilly at night)</li>
            <li>Blanket/scarf to cover yourself during shavasana</li>
            <li>Slippers for indoor use</li>
            <li><em>ID card</em></li>
            <li>Musical instruments (are welcomed)</li>
        </ul>

        <h5>What not to bring:</h5>
        <ul>
            <li>Alcohol, cigarettes, drugs</li>
            <li>Meat, fish, eggs, onion, and garlic</li>
            <li>Perfumes, cosmetics</li>
        </ul>

        <h5>Clothing:</h5>
        <p>
            Monks are present at the retreat, so you should not wear transparent, revealing, too tight clothing that
            attracts attention (like short shorts, short skirts, tight leggings, tank tops, etc.).
            <br>
            <br>
            Your clothing should be simple, modest, and comfortable.
            <br>
            <br>
            Please do not wear perfume these days, as it is distracting at collective practices, and also odors mix when
            participants practice together indoors.
        </p>
    </div>
</app-accordion>
<hr />

<app-accordion class="accordion">
    <h4 acc-title i18n>{{5}}. Can I have a special (vegan/lactose-free) diet?</h4>
    <p acc-content class="section" i18n>
        Yes!
        <br>
        <br>
        We offer a variety of dietary options, including vegan, vegetarian, lactose-free, and gluten-free meals.
        <br>
        <br>
        Please inform us of any special dietary requirements when registering for the retreat, and we
        will do our utmost to accommodate your needs.
    </p>
</app-accordion>
<hr />

<!-- <app-accordion>
    <h4 acc-title>9. I am part of a different spiritual tradition. Is it okay for me to practice this as well?</h4>
    <p acc-content>We welcome individuals from all spiritual traditions to participate in our retreats. Our
        teachings emphasize universal principles of love, compassion, and self-realization, which are inherent in many
        spiritual paths. We respect and honor the diversity of spiritual traditions and believe that sincere seekers can
        find common ground in their quest for truth and inner peace.</p>
</app-accordion>
<hr /> -->

<app-accordion class="accordion">
    <h4 acc-title i18n>{{6}}. I am an atheist and don't believe in spiritual stuff. Why would I go to a retreat?</h4>
    <p acc-content class="section" i18n>Many participants, regardless of their belief system, find value in the
        practices of
        meditation,
        yoga, and mindfulness for their potential to reduce stress, increase mental clarity, and enhance overall
        well-being. Whether you're seeking inner peace, stress relief, or simply a break from the hustle and bustle of
        daily life, our retreats offer a supportive environment for exploration and self-discovery.</p>
</app-accordion>