form {
    padding: 4rem var(--padding) 2rem;

    background-color: rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(5px);
    color: white;
}

label {
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    opacity: 0.8;
}

input {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 0;
    border: 1px solid var(--light-gray);
    border-radius: 5rem;
    background-color: transparent;
    background-color: rgb(255 255 255 / 80%);
    // color: white;
    // text-align: center;

    font-size: 1rem;

    &::placeholder {
        color: rgb(0 0 0 / 30%);
        font-style: italic;
    }

    &:focus {
        outline: none;
        border: 1px solid var(--color-secondary);
    }
}

h3 {
    margin-bottom: 2rem;
}

.container {
    left: 0;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    padding: var(--padding);
    padding-bottom: calc(var(--padding));
    background: linear-gradient(0, var(--black), transparent);
    pointer-events: none;
    color: white;
}

.submit {
    // padding: 1rem 2rem;
    width: 100%;
    border-radius: 5rem;
    // background-color: var(--color-secondary);
    // color: white;
    // font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    pointer-events: all;
    margin-top: 0.5rem;
}


.fixed-button {
    padding: 5px 5px 0px;
    width: calc(100%);
    background-color: rgb(0 0 0 / 30%);
    color: var(--color-secondary);
    border-radius: 50px;
    pointer-events: all;

    animation: pulse 4s ease-in infinite;

    @keyframes pulse {
        0% {
            background-color: rgb(0 0 0 / 30%);
        }
        50% {
            background-color: color-mix(in srgb, rgb(0 0 0 / 30%) 70%, var(--color-secondary));
            // background-color: var(--color-secondary);
            color: color-mix(in srgb, white 50%, var(--color-secondary));
        }
        100% {
            background-color: rgb(0 0 0 / 30%);
        }
    }

    .button-text {
        font-variant: all-small-caps;
        font-size: 1.5rem;
    }

    .hint {
        margin: 5px 0;
    }
}

.price-text {
    text-align: center;
    margin: 5px 0 10px;
    font-size: var(--text-small);
    text-shadow: 0 0 5px black;
}

.hint {
    font-weight: normal;
    text-align: center;
    font-size: var(--text-smaller);
    opacity: 0.7;
    text-shadow: 0 0 5px black;
}

.after-hint {
    margin-top: 2rem;
    // font-size: 1rem;
    font-size: var(--text-small);
    opacity: 1;
}

.hint.error {
    color: #ff4a4a;
    opacity: 1;
    font-size: 1rem;
    display: block;
    font-weight: 500;
    font-size: var(--text-small);
    font-style: unset;
}