<div class="video-container" #videoContainer>
    <video autoplay muted loop playsinline #video>
        <source src="assets/videos/retreats/retreat-1.mp4" type="video/mp4">
    </video>
    <div class="video-overlay" #videoOverlay></div>
</div>


<div class="content" #content>
    <h1 #title>Embark on a spiritual journey</h1>
    <p class="subtitle" #subtitle>
        Join us in the green lands of the Czech Republic for a weekend of powerful spiritual practices under the
        guidance
        of professional meditation teachers.
    </p>
    <div class="ms-project">
        <app-with-icon class="ms-description" src="ms-logo.svg" alt="ms-logo" #ms>
            Part of the world-wide project <em>MeditationSteps</em>
        </app-with-icon>
        <ul>
            <li #li><em>100 000+</em> practitioners</li>
            <li #li><em>30+</em> countries</li>
            <li #li><em>100+</em> retreats every year</li>
        </ul>
    </div>
</div>