$sizes: (
    "normal": 1rem,
    "small": 0.9rem,
    "smaller": 0.8rem,
    "big": 1.2rem,
    "bigger": 1.5rem,
    "huge": 2rem,
    "impact": 3rem,
);

:root {
    font-family: "Roboto", sans-serif;

    @each $size, $value in $sizes {
        --text-#{$size}: #{$value};
    }
}

@each $align in (center, right, left, justify) {
    .text-#{$align} {
        text-align: $align;
    }
}

@each $size, $value in $sizes {
    .text-#{$size} {
        font-size: $value;
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.text-shadow {
    text-shadow: 0 0 2rem rgb(0 0 0 / 0.5);

    &-strong {
        text-shadow: 0 0 2rem rgb(0 0 0 / 0.75);
    }
}