:root {
    --app-height: 100%;
    --padding: 1rem;
    --border: 1rem;
    --border-small: 0.5rem;
    --border-big: 2rem;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.full-page {
    height: var(--app-height);
}

.full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex {
    display: flex;

    @each $direction in (column, row) {
        &-#{$direction} {
            flex-direction: $direction;
        }
    }

    @each $justify in (center, start, end) {
        &-#{$justify} {
            justify-content: $justify;
        }
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-grow {
        flex-grow: 1;
    }
}

.gap {
    $g: 5px;
    gap: $g;

    @for $i from 1 through 10 {
        &-#{$i} {
            gap: $i * $g;
        }
    }
}

.padded {
    padding: var(--padding);

    &-v {
        padding-top: var(--padding);
        padding-bottom: var(--padding);
    }

    &-h {
        padding-left: var(--padding);
        padding-right: var(--padding);
    }
}
