@use "./button.scss";
@use "./layout.scss";
@use "./fonts.scss";
@use "./colors.scss";

.no-clickable {
    pointer-events: none;
}

.clickable {
    pointer-events: all;
}

em {
    font-style: normal;
    font-weight: bold;
}