.invite-button {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(0deg,
        color-mix(in srgb, rgb(0 0 0 / 70%) 80%, var(--color-secondary)), rgb(0 0 0 / 70%) 100%);
    margin: 0.5rem;
    gap: 0.5rem;
    text-shadow: 0 0 3px rgb(0 0 0 / 50%);

    font-size: var(--text-small);
    font-weight: 600;
    position: relative;
}

.badge {
    color: white;
    padding: 0.1rem 0.5rem;
    font-size: var(--text-smaller);
}

.video-icon {
    --icon-size: 6rem;
    position: absolute;
    left: 90%;
    transform: translate(-100%, 25%);
    bottom: 100%;
    z-index: -1;
    opacity: 0.8;

    &.left {
        left: 10%;
        transform: translate(0, 25%);
    }
}

.video-container {
    margin: 1rem;
    overflow: hidden;
    border-radius: 2rem;
}
