<app-feature [side]="side">
    <img feature-background class="full-img" [src]="image" alt="trainer-image" />
    <div feature-title>
        <ng-content select="[title]"></ng-content>
    </div>

    <ng-container feature-above>
        @if (video) {
        <app-icon class="video-icon" src="play.svg" (click)="showVideo()" />
        <app-button class="button invite-button" (click)="showVideo()" i18n>
            Watch invitation
            <span class="badge bg-secondary">{{invitationLanguage}}</span>
        </app-button>
        }
    </ng-container>

    <p feature-card>
        <ng-content select="[description]"></ng-content>
    </p>

    <app-tab feature-below [isOpen]="showingVideo" [duration]="0.5">
        <div class="video-container">
            <app-video [src]="video" #videoRef />
        </div>
    </app-tab>

</app-feature>