:host {
    display: block;
    background-color: var(--light-gray);
}

.review {
    min-width: 70%;
}

.divider {
    height: 30px;
    border: 1px solid var(--black);
    margin: auto 0.5rem;
    border-radius: 5px;
}

h3 {
    padding: 4rem 0 2rem;
}