<!-- <app-feature image="assets/images/retreats/2/place-2.png">
    <div feature-title>Recharge</div>
    <p feature-description>
        In the green forests of RK Naděje you will find a place where you can relax and recharge your batteries. The
        place is surrounded by nature and is perfect for meditation and relaxation.
    </p>
</app-feature> -->


<app-feature image="assets/images/retreats/2/place.png">
    <div feature-title>Reach your inner peace</div>
    <p feature-description>
        In the green forests of RK Naděje you will find a place where you can relax and recharge your batteries. The
        place is surrounded by nature and is perfect for meditation and relaxation.
    </p>
</app-feature>

<app-feature image="assets/images/retreats/food.png" [alternate]="true">
    <div feature-title>About great food</div>
    <p feature-description>
        Describe what food will be there
    </p>
</app-feature>

<!-- <app-feature image="assets/images/retreats/meditate-2.png" [alternate]="true">
    <div feature-title>Disciplined schedule</div>
    <p feature-description>
        Describe our schedule
    </p>
</app-feature> -->


<!-- <img src="assets/images/people/dada-sadananda.png" alt="dada-sadananda" /> -->
<!-- <img src="assets/images/people/didi-devapriya.png" alt="didi-devapriya" /> -->
<app-feature image="assets/images/people/dada-sadananda.png">
    <div feature-title>Make powerful progress in your personal growth</div>
    <p feature-description>
        Under the supervision of experienced meditation teachers Dada Sadananda and Didi Ananda Devapriya, you will
        be able to make a significant progress in your personal growth and spiritual development. The retreat is
        a perfect opportunity personally meet the teachers and ask all of the questions.
    </p>
</app-feature>

<app-feature image="assets/images/retreats/friends.png" [alternate]="true">
    <div feature-title>Make Friends</div>
    <p feature-description>
        The retreat is a perfect opportunity to meet like-minded people who share your values and interests. You
        will be able to create true life-long friendships and connections that will last a lifetime.
    </p>
</app-feature>